.gmap-area {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.gmap-area .gmap iframe {
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    margin: 0 0;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}
