ul{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}
a {
    outline: medium none !important;
    text-decoration: none;
}
ul, ol {
    list-style: outside none none;
}

img {
    max-width: 100%;
    vertical-align: top;
}
